<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjy.OA_Sys.dao.TaskMapper">
  <resultMap id="BaseResultMap" type="com.sjy.OA_Sys.bean.Task">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="task_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="task_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="task_time_start" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" />
      <arg column="task_time_end" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" />
      <arg column="task_rate_progress" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="task_state" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="task_group_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="pro_id" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.sjy.OA_Sys.bean.TaskWithBLOBs">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="task_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="task_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="task_time_start" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" />
      <arg column="task_time_end" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" />
      <arg column="task_rate_progress" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="task_state" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="task_group_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="pro_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="task_des" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
      <arg column="task_report" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, task_id, task_name, task_time_start, task_time_end, task_rate_progress, task_state, 
    task_group_id, pro_id
  </sql>
  <sql id="Blob_Column_List">
    task_des, task_report
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.sjy.OA_Sys.bean.TaskExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.sjy.OA_Sys.bean.TaskExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sjy.OA_Sys.bean.TaskExample">
    delete from task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sjy.OA_Sys.bean.TaskWithBLOBs">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into task (task_id, task_name, task_time_start, 
      task_time_end, task_rate_progress, task_state, 
      task_group_id, pro_id, task_des, 
      task_report)
    values (#{taskId,jdbcType=VARCHAR}, #{taskName,jdbcType=VARCHAR}, #{taskTimeStart,jdbcType=TIMESTAMP}, 
      #{taskTimeEnd,jdbcType=TIMESTAMP}, #{taskRateProgress,jdbcType=VARCHAR}, #{taskState,jdbcType=INTEGER}, 
      #{taskGroupId,jdbcType=VARCHAR}, #{proId,jdbcType=VARCHAR}, #{taskDes,jdbcType=LONGVARCHAR}, 
      #{taskReport,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sjy.OA_Sys.bean.TaskWithBLOBs">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        task_id,
      </if>
      <if test="taskName != null">
        task_name,
      </if>
      <if test="taskTimeStart != null">
        task_time_start,
      </if>
      <if test="taskTimeEnd != null">
        task_time_end,
      </if>
      <if test="taskRateProgress != null">
        task_rate_progress,
      </if>
      <if test="taskState != null">
        task_state,
      </if>
      <if test="taskGroupId != null">
        task_group_id,
      </if>
      <if test="proId != null">
        pro_id,
      </if>
      <if test="taskDes != null">
        task_des,
      </if>
      <if test="taskReport != null">
        task_report,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null">
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskTimeStart != null">
        #{taskTimeStart,jdbcType=TIMESTAMP},
      </if>
      <if test="taskTimeEnd != null">
        #{taskTimeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="taskRateProgress != null">
        #{taskRateProgress,jdbcType=VARCHAR},
      </if>
      <if test="taskState != null">
        #{taskState,jdbcType=INTEGER},
      </if>
      <if test="taskGroupId != null">
        #{taskGroupId,jdbcType=VARCHAR},
      </if>
      <if test="proId != null">
        #{proId,jdbcType=VARCHAR},
      </if>
      <if test="taskDes != null">
        #{taskDes,jdbcType=LONGVARCHAR},
      </if>
      <if test="taskReport != null">
        #{taskReport,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sjy.OA_Sys.bean.TaskExample" resultType="java.lang.Long">
    select count(*) from task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update task
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.taskId != null">
        task_id = #{record.taskId,jdbcType=VARCHAR},
      </if>
      <if test="record.taskName != null">
        task_name = #{record.taskName,jdbcType=VARCHAR},
      </if>
      <if test="record.taskTimeStart != null">
        task_time_start = #{record.taskTimeStart,jdbcType=TIMESTAMP},
      </if>
      <if test="record.taskTimeEnd != null">
        task_time_end = #{record.taskTimeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="record.taskRateProgress != null">
        task_rate_progress = #{record.taskRateProgress,jdbcType=VARCHAR},
      </if>
      <if test="record.taskState != null">
        task_state = #{record.taskState,jdbcType=INTEGER},
      </if>
      <if test="record.taskGroupId != null">
        task_group_id = #{record.taskGroupId,jdbcType=VARCHAR},
      </if>
      <if test="record.proId != null">
        pro_id = #{record.proId,jdbcType=VARCHAR},
      </if>
      <if test="record.taskDes != null">
        task_des = #{record.taskDes,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.taskReport != null">
        task_report = #{record.taskReport,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update task
    set id = #{record.id,jdbcType=INTEGER},
      task_id = #{record.taskId,jdbcType=VARCHAR},
      task_name = #{record.taskName,jdbcType=VARCHAR},
      task_time_start = #{record.taskTimeStart,jdbcType=TIMESTAMP},
      task_time_end = #{record.taskTimeEnd,jdbcType=TIMESTAMP},
      task_rate_progress = #{record.taskRateProgress,jdbcType=VARCHAR},
      task_state = #{record.taskState,jdbcType=INTEGER},
      task_group_id = #{record.taskGroupId,jdbcType=VARCHAR},
      pro_id = #{record.proId,jdbcType=VARCHAR},
      task_des = #{record.taskDes,jdbcType=LONGVARCHAR},
      task_report = #{record.taskReport,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update task
    set id = #{record.id,jdbcType=INTEGER},
      task_id = #{record.taskId,jdbcType=VARCHAR},
      task_name = #{record.taskName,jdbcType=VARCHAR},
      task_time_start = #{record.taskTimeStart,jdbcType=TIMESTAMP},
      task_time_end = #{record.taskTimeEnd,jdbcType=TIMESTAMP},
      task_rate_progress = #{record.taskRateProgress,jdbcType=VARCHAR},
      task_state = #{record.taskState,jdbcType=INTEGER},
      task_group_id = #{record.taskGroupId,jdbcType=VARCHAR},
      pro_id = #{record.proId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sjy.OA_Sys.bean.TaskWithBLOBs">
    update task
    <set>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null">
        task_name = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskTimeStart != null">
        task_time_start = #{taskTimeStart,jdbcType=TIMESTAMP},
      </if>
      <if test="taskTimeEnd != null">
        task_time_end = #{taskTimeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="taskRateProgress != null">
        task_rate_progress = #{taskRateProgress,jdbcType=VARCHAR},
      </if>
      <if test="taskState != null">
        task_state = #{taskState,jdbcType=INTEGER},
      </if>
      <if test="taskGroupId != null">
        task_group_id = #{taskGroupId,jdbcType=VARCHAR},
      </if>
      <if test="proId != null">
        pro_id = #{proId,jdbcType=VARCHAR},
      </if>
      <if test="taskDes != null">
        task_des = #{taskDes,jdbcType=LONGVARCHAR},
      </if>
      <if test="taskReport != null">
        task_report = #{taskReport,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sjy.OA_Sys.bean.TaskWithBLOBs">
    update task
    set task_id = #{taskId,jdbcType=VARCHAR},
      task_name = #{taskName,jdbcType=VARCHAR},
      task_time_start = #{taskTimeStart,jdbcType=TIMESTAMP},
      task_time_end = #{taskTimeEnd,jdbcType=TIMESTAMP},
      task_rate_progress = #{taskRateProgress,jdbcType=VARCHAR},
      task_state = #{taskState,jdbcType=INTEGER},
      task_group_id = #{taskGroupId,jdbcType=VARCHAR},
      pro_id = #{proId,jdbcType=VARCHAR},
      task_des = #{taskDes,jdbcType=LONGVARCHAR},
      task_report = #{taskReport,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sjy.OA_Sys.bean.Task">
    update task
    set task_id = #{taskId,jdbcType=VARCHAR},
      task_name = #{taskName,jdbcType=VARCHAR},
      task_time_start = #{taskTimeStart,jdbcType=TIMESTAMP},
      task_time_end = #{taskTimeEnd,jdbcType=TIMESTAMP},
      task_rate_progress = #{taskRateProgress,jdbcType=VARCHAR},
      task_state = #{taskState,jdbcType=INTEGER},
      task_group_id = #{taskGroupId,jdbcType=VARCHAR},
      pro_id = #{proId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>