<!DOCTYPE HTML>
<html xmlns:th="www.thymeleaf.org">
<head>
<title>Compose mail</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Novus Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
 <!-- js-->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<!--webfonts-->
<link href='http://fonts.useso.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//webfonts--> 
<!--animate-->
<link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<!-- Metis Menu -->
<script src="js/metisMenu.min.js"></script>
<script src="js/custom.js"></script>
<link href="css/custom.css" rel="stylesheet">
<!--//Metis Menu -->
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
		<!--left-fixed -navigation-->
		<div class=" sidebar" role="navigation">
            <div class="navbar-collapse">
				<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
				</nav>
			</div>
		</div>
		<!--left-fixed -navigation-->
		<!-- header-starts -->
		<div class="sticky-header header-section ">
			<div class="header-left">
				<!--toggle button start-->
				<button id="showLeftPush"><i class="fa fa-bars"></i></button>
				<!--toggle button end-->
				<!--logo -->
				<div class="logo">
					<a href="index.html">
						<h1>NOVUS</h1>
						<span>AdminPanel</span>
					</a>
				</div>
				<!--//logo-->
			</div>
			<div class="header-right">
				<div class="profile_details_left"><!--notifications of menu start -->
				</div>
				<!--notification menu end -->
				<div class="profile_details">		
				</div>
				<div class="clearfix"> </div>	
			</div>
			<div class="clearfix"> </div>	
		</div>
		<!-- //header-ends -->
		<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page compose" th:fragment="emailList">
				<div class="col-md-4 compose-left">
					<div class="folder widget-shadow">
						<ul>
							<li class="head">邮箱</li>
							<li><a href="#"><i class="fa fa fa-edit"></i>写邮件 </a></li>
							<li><a href="inbox.html"><i class="fa fa-envelope-open-o"></i>收件箱 <span>52</span></a></li>
							<li><a href="#"><i class="fa fa fa-envelope-o"></i>发件箱 </a></li>
							<li><a href="#"><i class="fa fa-file-text-o"></i>草稿 <span>03</span></a> </li>
							<li><a href="#"><i class="fa fa-trash-o"></i>垃圾桶</a></li>
						</ul>
					</div>
					<div class="chat-grid widget-shadow">
						<ul>
							<li class="head">联系人</li>
						</ul>
						<div class="scrollbar scrollbar1" style="overflow-y: auto; height: 238px;">
							<ul style="margin-top: -32px;">
								<li><a href="#">
										<div class="chat-left">
											<img class="img-circle" src="images/i1.png" alt="">
											<label class="small-badge"></label>
										</div>
										<div class="chat-right">
											<p>Andrew Josifn</p>
											<h6>Nullam quis risus eget </h6>
										</div>
										<div class="clearfix"> </div>	
									</a>
								</li>
								<li><a href="#">
										<div class="chat-left">
											<img class="img-circle" src="images/i2.png" alt="">
											<label class="small-badge bg-green"></label>
										</div>
										<div class="chat-right">
											<p>Justen Ferry</p>
											<h6>Urna mollis ornare vel</h6>
										</div>
										<div class="clearfix"> </div>	
									</a>
								</li>
								<li><a href="#">
										<div class="chat-left">
											<img class="img-circle" src="images/i3.png" alt="">
											<label class="small-badge bg-green"></label>
										</div>
										<div class="chat-right">
											<p>Brown Andy </p>
											<h6>Quis risus ullam neget </h6>
										</div>
										<div class="clearfix"> </div>	
									</a>
								</li>
								<li><a href="#">
										<div class="chat-left">
											<img class="img-circle" src="images/i4.png" alt="">
											<label class="small-badge"></label>
										</div>
										<div class="chat-right">
											<p>Deos Jhon</p>
											<h6>Mollis ornare Urna vel</h6>
										</div>
										<div class="clearfix"> </div>	
									</a>
								</li>
								<li><a href="#">
										<div class="chat-left">
											<img class="img-circle" src="images/i4.png" alt="">
											<label class="small-badge"></label>
										</div>
										<div class="chat-right">
											<p>Deos Jhon</p>
											<h6>Mollis ornare Urna vel</h6>
										</div>
										<div class="clearfix"> </div>	
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-8 compose-right widget-shadow scrollbar scrollbar1" style="height: 590px;overflow-y: auto;">
					<!-- 替换区域 -->
					<div class="panel-default">
						<div class="panel-heading">
							写一封新邮件 
						</div>
						<div class="panel-body">
							<div class="alert alert-info">
								再发送前，请完善邮件信息。
							</div>
							<form class="com-mail">
								<input type="text" class="form-control1 control3" placeholder="收件人 :">
								<input type="text" class="form-control1 control3" placeholder="主题 :">
								<textarea rows="6" class="form-control1 control2" placeholder="正文 :" ></textarea>
								<div class="form-group">
									<div class="btn btn-default btn-file">
										<i class="fa fa-paperclip"></i> 添加附件
										<input type="file" name="attachment">
									</div>
									<p class="help-block">Max. 32MB</p>
								</div>
								<input type="submit" value="发送" style="float: right;margin-top: -45px;"> 
							</form>
						</div>
					</div>
					<!-- //替换区域 -->
				</div>
				<div class="clearfix"> </div>	
			</div>
		</div>
		<!--footer-->
		<div class="footer">
		   <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
		</div>
        <!--//footer-->
	</div>
	<!-- Classie -->
		<script src="js/classie.js"></script>
		<script>
			var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
				showLeftPush = document.getElementById( 'showLeftPush' ),
				body = document.body;
				
			showLeftPush.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( body, 'cbp-spmenu-push-toright' );
				classie.toggle( menuLeft, 'cbp-spmenu-open' );
				disableOther( 'showLeftPush' );
			};
			
			function disableOther( button ) {
				if( button !== 'showLeftPush' ) {
					classie.toggle( showLeftPush, 'disabled' );
				}
			}
		</script>
	<!--scrolling js-->
	<script src="js/jquery.nicescroll.js"></script>
	<script src="js/scripts.js"></script>
	<!--//scrolling js-->
	<!-- Bootstrap Core JavaScript -->
   <script src="js/bootstrap.js"> </script>
</body>
</html>