<!DOCTYPE HTML>
<html>
<head>
<title>Inbox</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Novus Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript">
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
</script>
<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- js-->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<!--webfonts-->
<link
	href='http://fonts.useso.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic'
	rel='stylesheet' type='text/css'>
<!--//webfonts-->
<!--animate-->
<link href="css/animate.css" rel="stylesheet" type="text/css"
	media="all">
<script src="js/wow.min.js"></script>
<script>
	new WOW().init();
</script>
<!--//end-animate-->
<!-- Metis Menu -->
<script src="js/metisMenu.min.js"></script>
<script src="js/custom.js"></script>
<link href="css/custom.css" rel="stylesheet">
<!--//Metis Menu -->
</head>
<body class="cbp-spmenu-push">
	<div class="main-content">
		<!--left-fixed -navigation-->
		<div class=" sidebar" role="navigation">
			<div class="navbar-collapse">
				<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left"
					id="cbp-spmenu-s1"></nav>
			</div>
		</div>
		<!--left-fixed -navigation-->
		<!-- header-starts -->
		<div class="sticky-header header-section ">
			<div class="header-left">
				<!--toggle button start-->
				<button id="showLeftPush">
					<i class="fa fa-bars"></i>
				</button>
				<!--toggle button end-->
				<!--logo -->
				<div class="logo">
					<a href="index.html">
						<h1>NOVUS</h1> <span>AdminPanel</span>
					</a>
				</div>
				<!--//logo-->
			</div>
			<div class="header-right">
				<div class="profile_details_left">
					<!--notifications of menu start -->
				</div>
				<!--notification menu end -->
				<div class="profile_details"></div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
		<!-- //header-ends -->
		<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page">
				<h3 class="title1">Inbox</h3>
				<!--  加载区域  -->
				<div class="panel-default" th:fragment="writeEmail">
					<div class="panel-heading">写一封新邮件</div>
					<div class="panel-body">
						<div id="mailTip" class="alert alert-info" style="display: none">再发送前，请完善邮件信息。</div>
						
						<form id="writeMailForm" class="com-mail" action="sendEmail.do" method="post">
							<input type="text" id="writeEmailAddress" class="form-control1 control3" name="addresses"
								placeholder="收件人 :" > 
							<input type="text" id="mailTitle" class="form-control1 control3" name="mailTitle" 
								placeholder="主题 :">
							<textarea id="editor1" name="mailDes" class="form-control1 control2"
								placeholder="正文 :"></textarea>
							<script th:inline="javascript">
								var mailEdit = [[${mailEdit}]]
								var obj = CKEDITOR.replace('editor1', {
									width: '763px',
									height: '120px',
								});
								if(mailEdit!=null){
									$('#writeEmailAddress').val(mailEdit.mailStaffAddressee!=null?mailEdit.staffAddressee.staffName+'<'+mailEdit.mailStaffAddressee+'>;':'')
									$('#mailTitle').val(mailEdit.mailTitle!=null?mailEdit.mailTitle:'')
									obj.setData(des);
								}
							</script>
							<div class="form-group">
								
								<div class="fileprocessbox" th:if="mailAttaList!=null" th:each="atta:${mailAttaList}">
									<div class="sizetextend">
										<span class="filesName" th:text="${atta}+'&nbsp;&nbsp;'">apache-ant-1.9.15-src.zip&nbsp;&nbsp;</span>
										<a class="delatta" href="javaScript:void(0)" onclick="delEmailAtta(this)">删除</a>
										<input name="fileNames" th:value="${atta}" hidden="true">
									</div>
								</div>
							</div>
							<a id="saveEmailBtn" href="javaScript:void(0)" style="float: right; 
											margin-top: -45px;
											margin-right:70px;
											font-size: 0.9em;
											background-color: #6164C1;
											border: 1px solid #4F52BA;
											color: #fff;
											padding: 0.4em 1em;">存草稿</a>
											
							<input type="submit" id="sendEmailBtn" value="发送"
								style="float: right; margin-top: -45px;">
						</form>
					</div>
					<script src="js/uploadself.js"></script>
					<script>
						$('#saveEmailBtn').click(function(){
							$('#writeMailForm').attr('action','saveMail.do')
							$('#sendEmailBtn').trigger('click');
						})
						$("#writeMailForm").submit(function() { // 提交表单的id
							var options = {
								dataType: 'json',
								beforeSubmit: function(){
									var saveMailJudge = $('#writeMailForm').attr('action')
									if(saveMailJudge == 'saveMail.do'){
										return true
									}
									
									var address = $('#writeEmailAddress').val()
									var title = $('#mailTitle').val()
									if(address==null || address==''){
										$('#mailTip').css('display','block')
										return false
									}
									if(title == null || title == ''){
										$('#mailTip').css('display','block')
										return false
									}
									$('#mailTip').css('display','none')
								},
								success: function(data) {
									$('#tipContent').html(data.message);
									$("#asdf").trigger('click');
									
									var saveMailJudge = $('#writeMailForm').attr('action')
									if(saveMailJudge == 'saveMail.do'){
										$('#writeMailForm').attr('action','sendEmail.do')
										console.log("?????????????")
									}else{
										toEmail();
									}
								}
								
							};
							for ( instance in CKEDITOR.instances ){
								CKEDITOR.instances[instance].updateElement();
							}
							$('#writeMailForm').ajaxSubmit(options);
							return false; //防止表单自动提交
						});
					</script>
					<script>
						$(".form-group").filesUpload({
							url:'uploadEmailAtta.do',//上传地址
							multiple: true,  //是否多文件上传
							accept: '', //input accept属性
							buttonText: '添加附件',  //按钮文字
							fileChangeEnd:function(file){
								$("#txtname").text(file[0].name)
								
							},
							onUploadStart: function() {}, //请求开始
							onUploadSuccess: function(a,b) {
								var data = eval("("+b+")")
								$('.fileprocess').remove()
								$('.size').remove()
								$('.sizeSplit').remove()
								$('.sizetext').append('<a class="delatta" href="javaScript:void(0)" onclick="delEmailAtta(this)">删除</a><input name="fileNames" value="'+data.obj+'"  hidden="true"/>')
								$('.sizetext').addClass('sizetextend')
								$('.sizetext').removeClass('sizetext')
							},//请求成功
							onUploadComplete: function() {
								
							},//请求完成
							onUploadError:function(res, xhr){//请求错误
								console.log("err",res,xhr)
							}
						})
					</script>
					<script>
						function delEmailAtta(obj){
							$(obj).parent().parent().remove();
						}
						function findByStaff(staffName,staffId){
							var emailAddress = $('#writeEmailAddress').val()
							var addressList = emailAddress.split(';')
							if(addressList.length > 0){
								for(var i =0; i<addressList.length; i++){
									var staffNameTest = addressList[i].substring(0,addressList[i].indexOf('<'))
									if(staffNameTest == staffName){
										return;
									}
								}
							}
							
							emailAddress+=staffName+'<'+staffId+'>;'
							$('#writeEmailAddress').val(emailAddress);
						}
					</script>
				</div>
				<!--  //加载区域  -->
			</div>
		</div>
		<!--footer-->
		<div class="footer">
			<p>
				Copyright &copy; 2016.Company name All rights reserved.<a
					target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
			</p>
		</div>
		<!--//footer-->
	</div>
	<!-- Classie -->
	<script src="js/classie.js"></script>
	<script>
		var menuLeft = document.getElementById('cbp-spmenu-s1'), showLeftPush = document
				.getElementById('showLeftPush'), body = document.body;

		showLeftPush.onclick = function() {
			classie.toggle(this, 'active');
			classie.toggle(body, 'cbp-spmenu-push-toright');
			classie.toggle(menuLeft, 'cbp-spmenu-open');
			disableOther('showLeftPush');
		};

		function disableOther(button) {
			if (button !== 'showLeftPush') {
				classie.toggle(showLeftPush, 'disabled');
			}
		}
	</script>
	<!--scrolling js-->
	<script src="js/jquery.nicescroll.js"></script>
	<script src="js/scripts.js"></script>
	<!--//scrolling js-->
	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.js">
		
	</script>
</body>
</html>