<!DOCTYPE HTML>
<html lang="en" xmlns:th="www.thymeleaf.org">
	<head>
		<title>首页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<!-- Bootstrap Core CSS -->
		<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- Custom CSS -->
		<link href="css/style.css" rel='stylesheet' type='text/css' />
		<!-- font CSS -->
		<!-- font-awesome icons -->
		<link href="css/font-awesome.css" rel="stylesheet">
		<!-- //font-awesome icons -->
		<!-- js-->
		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<!--webfonts-->
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet'
		 type='text/css'>
		<!--//webfonts-->
		<!--animate-->
		<link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
		<script src="js/wow.min.js"></script>
		<script>
			new WOW().init();
	</script>
		<!--//end-animate-->
		<!-- chart -->
		<script src="js/Chart.js"></script>
		<!-- //chart -->
		<!-- Metis Menu -->
		<script src="js/metisMenu.min.js"></script>
		<script src="js/custom.js"></script>
		<script src="js/vue.js"></script>
		<link href="css/custom.css" rel="stylesheet">
		<!--//Metis Menu -->
		
		<link href="css/personnel.css" rel="stylesheet" type="text/css" />
		<link href="css/project-creat.css" rel="stylesheet" type="text/css" />
		<link href="css/uploadself.css" rel="stylesheet" type="text/css" />
		<link href="css/hide-scroll-bar.css" rel="stylesheet" type="text/css" />
		
		<!-- fullcalendar -->
		<link href='fullcalendar/main.css' rel='stylesheet' />
		<script src='fullcalendar/main.js'></script>
		<script src='fullcalendar/locales-all.js'></script>
		<!-- //fullcalendar -->
		
		<script src="js/jquery.form.js"></script>
		<script src="ckeditor/ckeditor.js"></script>
		<script src="js/timeago.js"></script>
	</head>
	<body class="cbp-spmenu-push">
		<div class="main-content">
			<!--left-fixed -navigation-->
			<div class=" sidebar" role="navigation">
				<div class="navbar-collapse" id="pageJumpApp">
					<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
						<ul class="nav" id="side-menu">
							<li>
								<a href="index.html" class="active"><i class="fa fa-home nav_icon"></i>首页</a>
							</li>
							<li>
								<a href="javascript:void(0)" onclick="toPersonnel()"><i class="fa fa-group nav_icon"></i>人事</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-comments nav_icon"></i>通讯 <!-- <span class="nav-badge">12</span> --> <span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse">
									<li>
										<a class="fa fa-envelope"  href="javascript:void(0)" onclick="toEmail()"> 邮件</a>
									</li>
									<li>
										<a class="fa fa-comment" href="javascript:void(0)" onclick="toChatService()"> 信息</a>
									</li>
									<li>
										<a class="fa fa-bell" href="javascript:void(0)" onclick="toNotice()"> 通告</a>
									</li>
								</ul>
								<!-- /nav-second-level -->
							</li>
							<li>
								<a href="#"><i class="fa fa-tasks fa-inverse nav_icon" style="color: #FFFFFF;"></i>项目 <!-- <span class="nav-badge">12</span> -->
									<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse">
									<li>
										<a href="javascript:void(0)" onclick="toProjectCreat()">申请</a>
									</li>
									<!-- <li>
										<a href="javascript:void(0)" onclick="toProjectAudit()">审核</a>
									</li> -->
									<li>
										<a href="javascript:void(0)" onclick="toProjectFind()">查看</a>
									</li>
								</ul>
								<!-- /nav-second-level -->
							</li>
							<li>
								<a href="#"><i class="fa fa-calendar nav_icon"></i>任务 <!-- <span class="nav-badge">12</span> --> <span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse">
									<li>
										<a href="javascript:void(0)" onclick="toTaskCreat()">创建</a>
									</li>
									<li>
										<a href="javascript:void(0)" onclick="toTaskFind()">查看</a>
									</li>
								</ul>
								<!-- /nav-second-level -->
							</li>
							<li>
								<a href="javascript:void(0)" onclick="toPublicAssets()"><i class="fa fa-rmb nav_icon"></i>公共资产</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-sort-amount-asc nav_icon"></i>流程管理 <!-- <span class="nav-badge">12</span>  --><span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse">
									<li>
										<a href="javascript:void(0)" onclick="toProcessCreat()">创建</a>
									</li>
									<li>
										<a href="javascript:void(0)" onclick="toProcessApproved()">审批</a>
									</li>
								</ul>
								<!-- /nav-second-level -->
							</li>
						</ul>
						<!-- //sidebar-collapse -->
					</nav>
				</div>
			</div>
			<!--left-fixed -navigation-->
			<!-- header-starts -->
			<div class="sticky-header header-section ">
				<div class="header-left">
					<!--toggle button start-->
					<button id="showLeftPush"><i class="fa fa-bars"></i></button>
					<!--toggle button end-->
					<!--logo -->
					<div class="logo">
						<a href="index.html">
							<h1>OASys</h1>
							<span>—ShenJunyu</span>
						</a>
					</div>
					<!--//logo-->
					<div class="clearfix"> </div>
				</div>
				<div class="header-right">
					<div class="profile_details_left">
						<!--notifications of menu start -->
						<ul class="nofitications-dropdown">
							<li class="dropdown head-dpdn">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<i class="fa fa-envelope"></i>
									<span class="badge" th:text="${mailList.size()}">3</span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<div class="notification_header">
											<h3 th:text="'您有'+${mailList.size()}+'个邮件待处理'">你有3封邮件待处理</h3>
										</div>
									</li>
									<li th:each="mail,mailStat:${mailList}" th:if="${mailStat.count lt 3}">
										<a href="#">
											<div class="user_img"><img src="images/1.png" alt="" /></div>
											<div class="notification_desc">
												<p th:text="${mail.mailTitle}">Lorem ipsum dolor amet</p>
												<p th:text="${mail.mailTimeSend}"><span>1 hour ago</span></p>
											</div>
											<div class="clearfix"></div>
										</a>
									</li>
									
									<li>
										<div class="notification_bottom">
											<a href="javaScript:toEmail()">查看所有邮件</a>
										</div>
									</li>
								</ul>
							</li>
							<li class="dropdown head-dpdn">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<i class="fa fa-bell"></i>
									<span class="badge blue" th:text="${noReadNoticeList.size()}">3</span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<div class="notification_header">
											<h3 th:text="'您有'+${noReadNoticeList.size()}+'个通知待查看'">您有3个通知待查看</h3>
										</div>
									</li>
									<li th:each="notice,noticeStat:${noReadNoticeList}" th:if="${noticeStat.count lt 3}">
										<a href="#">
											<div class="user_img"><img th:src="${notice.staffSend.staffImg}" alt=""></div>
											<div class="notification_desc">
												<p th:text="${notice.noticeTitle}">Lorem ipsum dolor amet</p>
												<p><span class="time" th:text="${notice.noticeTime}">1 hour ago</span></p>
											</div>
											<div class="clearfix"></div>
										</a>
									</li>
									<li>
										<div class="notification_bottom">
											<a href="javaScript:toNotice()">查看所有通知</a>
										</div>
									</li>
								</ul>
							</li>
							<li class="dropdown head-dpdn">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<i class="fa fa-tasks"></i>
									<span class="badge blue1" th:text="${noFinishedTask.size()}">15</span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<div class="notification_header">
											<h3 th:text="'您有'+${noFinishedTask.size()}+'个任务未完成'">您有15个任务未完成</h3>
										</div>
									</li>
									<li th:each="task,taskStat:${noFinishedTask}" th:if="${taskStat.count lt 3}">
										<a href="#">
											<div class="task-info">
												<span class="task-desc" th:text="${task.taskName}">Database update</span>
												<span class="percentage" th:text="${task.taskRateProgress}+'%'">40%</span>
												<div class="clearfix"></div>
											</div>
											<div class="progress progress-striped active">
												<div class="bar yellow" th:style="'width:'+${task.taskRateProgress}+'%'"></div>
											</div>
										</a>
									</li>
									<li>
										<div class="notification_bottom">
											<a href="javaScript:toTaskFind()">查看所有任务</a>
										</div>
									</li>
								</ul>
							</li>
						</ul>
						<div class="clearfix"> </div>
					</div>
					<!--notification menu end -->
					<div class="profile_details">
						<ul>
							<li class="dropdown profile_details_drop">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<div class="profile_img">
										<span class="prfil-img"><img th:src="${loginStaff.staffImg}" style="width: 50px;height: 50px;border-radius: 50%" alt=""> </span>
										<div class="user-name">
											<p th:text="${loginStaff.staffName}">Wikolia</p>
											<span th:text="${loginStaff.depart.departName}">商家</span>
										</div>
										<i class="fa fa-angle-down lnr"></i>
										<i class="fa fa-angle-up lnr"></i>
										<div class="clearfix"></div>
									</div>
								</a>
								<ul class="dropdown-menu drp-mnu">
									<li> <a href="javascript:void(0)" onclick="toPersonnel()"><i class="fa fa-user"></i> 个人信息</a> </li>
									<li id="attSheetSignBox">
										<li th:if="${attSheetFlag==0}"> <a style="cursor: pointer;" onclick="toSignIn()"><i class="fa fa-pencil"></i> 签到</a> </li>
										<li th:if="${attSheetFlag==1}"> <a style="cursor: pointer;" onclick="toSignOut()"><i class="fa fa-pencil"></i> 签退</a> </li>
										<li th:if="${attSheetFlag==2}"> <a style="cursor: pointer;"><i class="fa fa-pencil"></i> 已签退</a> </li>
									</li>
									<li> <a href="loginOut.do"><i class="fa fa-sign-out"></i> 登出</a> </li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- //header-ends -->
			<!-- main content start-->
			<div id="page-wrapper">
				<div class="main-page">
					<div class="row-one">
						<div class="col-md-4 widget">
							<div class="stats-left ">
								<h5>本月</h5>
								<h4>全勤</h4>
							</div>
							<div class="stats-right">
								<label th:text="${workDays}"> 20</label>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="col-md-4 widget states-mdl">
							<div class="stats-left">
								<h5>本月</h5>
								<h4>请假</h4>
							</div>
							<div class="stats-right">
								<label> 0</label>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="col-md-4 widget states-last">
							<div class="stats-left">
								<h5>本日</h5>
								<h4>任务</h4>
							</div>
							<div class="stats-right">
								<label th:text="${noFinishedTask.size()}">3</label>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div style="margin-top: 20px;">
						<div id='calendar'></div>
						<!-- 消息提示框 -->
						<button id="calendarPopUpBtn" data-toggle="modal" data-target="#gridSystemModal" hidden="true"></button>
						<div class="col-md-4 modal-grids">
							<div class="modal fade" id="gridSystemModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" id="calendarPopUpCloseBtn" class="close" data-dismiss="modal" aria-label="Close"><span
												 aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="gridSystemModalLabel">日程信息</h4>
										</div>
										<div class="grid_3 grid_5 widget-shadow" style="margin-top: 0em;height: 450px;">
											<div class="pro-cre">
												<input id="calendarId" type="text" class="left" hidden="hidden"/>
												<table>
													<tr>
														<td>日程主题：</td>
														<td><input id="calendarTitle" type="text" class="left" required="required" /></td>
													</tr>
													<tr>
														<td>开始时间：</td>
														<td><input id="calendarTimeStart" type="datetime-local" class="left" required="required" /></td>
													</tr>
													<tr>
														<td>结束时间：</td>
														<td><input id="calendarTimeEnd" type="datetime-local" class="left" required="required" /></td>
													</tr>
													<tr>
														<td></td>
														<td></td>
													</tr>
												</table>
												<span>日程详情：</span>
												<textarea id="contents1" name="taskDes" style="height: 350px;" required="required"></textarea>
												<script>
													var obj = CKEDITOR.replace('contents1', {
														width: '570px',
														height: '100px',
													});
												</script>
												<div id="calendarEditorBox" style="margin-top: 10px;width: 100%;">
													<span id="calendarCloseBtn" data-dismiss="modal" aria-label="Close" class="label label-default" style="cursor: pointer;margin-left: 70%;">取消</span>
													<span id="calendarAddBtn" class="label label-primary" style="cursor: pointer;margin-left: 2%;">保存</span>
												</div>
											</div>
										</div>
									</div><!-- /.modal-content -->
								</div><!-- /.modal-dialog -->
							</div><!-- /.modal -->
						</div>
						<!-- //消息提示框 -->
	
						<script>
							var calendar;
							var nowArg;
							$(document).ready(function(){
								var date = new Date();
								var dateStr = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
	
								var calendarEl = document.getElementById('calendar');
	
								calendar = new FullCalendar.Calendar(calendarEl, {
									headerToolbar: {
										left: 'prev,next today',
										center: 'title',
										right: 'dayGridMonth,timeGridWeek,timeGridDay'
									},
									initialDate: getHandelNowDate(), //getHandelNowDate()
									locale: 'zh-cn', // 设置中文
									eventLimit: 4, // 显示更多
									displayEventEnd: true, // 显示结束时间
									buttonIcons: true, // 显示上一个/下一个
									weekNumbers: true,
									navLinks: true, // 可以单击日/周名称来浏览
									editable: false,
									dayMaxEvents: true, // 日程太多时允许“更多”
									selectable: true,
									selectMirror: true,
									select: function(arg) { // 等同于dateClick: function(){}
										var calendarTimeStart = getDateWithT(arg.start);
	
										$('#calendarTimeStart').val(calendarTimeStart);
										$('#calendarPopUpBtn').trigger('click');
										if($('#calendarDelBtn').length>0){
											$('#calendarDelBtn').remove();
										}
									},
									eventClick: function(arg) {
										nowArg=arg;
										var calendarTimeStart = getDateWithT(arg.event.start);
										var calendarTimeEnd = getDateWithT(arg.event.end);
	
										console.log(arg.event.extendedProps.des)
										$('#calendarId').val(arg.event.id);
										$('#calendarTitle').val(arg.event.title);
										$('#calendarTimeStart').val(calendarTimeStart);
										$('#calendarTimeEnd').val(calendarTimeEnd);
										CKEDITOR.instances.contents1.setData(arg.event.extendedProps.des);
	
	
										$('#calendarPopUpBtn').trigger('click');
										if($('#calendarDelBtn').length<=0){
											var str =
												'<span id="calendarDelBtn" class="label label-primary" style="cursor: pointer;margin-left: 2%;">删除</span>';
											$('#calendarEditorBox').append(str);
										}
										
										$('#calendarDelBtn').click(function() {
											var calendarId = $('#calendarId').val();
											$.post('toDelCalendar.do', {
												calendarId: calendarId
											}, function(data) {
												$('#tipContent').html(data.message);
												$("#asdf").trigger('click');
												if (data.sucess == 1) {
													arg.event.remove();
													$('#calendarPopUpCloseBtn').trigger('click');
													clearDetail();
												}
											});
										});
									},
									events: function(info, successCallback, failureCallback) {
										$.get('getCalendar.do',function(data){
											var events=[];
											$.each(data.obj,function(i,c){
												console.log(c.calendarTimeStart)
												events.push({
													title: c.calendarTitle,
													start: c.calendarTimeStart,
													end: c.calendarTimeEnd,
													id: c.id,
													des: c.calendarDes
												});
											});
											successCallback(events);
										});
									}
								});
								calendar.render();
								console.log(calendar)
							});
	
							$('#calendarAddBtn').click(function() {
								var calendarId = $('#calendarId').val();
								var calendarTitle = $('#calendarTitle').val();
								var calendarTimeStart = $('#calendarTimeStart').val();
								var calendarTimeEnd = $('#calendarTimeEnd').val();
								var calendarDes = CKEDITOR.instances.contents1.getData();
	
								var calendarTimeStartDate=new Date(calendarTimeStart);
								var calendarTimeEndDate=new Date(calendarTimeEnd);
								
								if(calendarTimeStartDate>calendarTimeEndDate){
									$('#tipContent').html('日程开始时间不能晚于结束时间');
									$("#asdf").trigger('click');
								}
								
								
								$.post('toAddCalendar.do', {
									calendarId: calendarId,
									calendarTitle: calendarTitle,
									calendarTimeStart: calendarTimeStart,
									calendarTimeEnd: calendarTimeEnd,
									calendarDes: calendarDes
								}, function(data) {
									$('#tipContent').html(data.message);
									$("#asdf").trigger('click');
									if (data.sucess == 1) {
										if(calendarId!=null && calendarId!=''){
											nowArg.event.remove();
										}
										calendar.addEvent({
											calendarId: calendarId,
											title: calendarTitle,
											start: calendarTimeStart,
											end: calendarTimeEnd,
											des: calendarDes
										})
										$('#calendarPopUpCloseBtn').trigger('click');
										clearDetail();
									}
								});
							});
	
							$('#calendarCloseBtn').click(function() {
								clearDetail();
							});
							$('#gridSystemModal').on('hide.bs.modal', function() {
								clearDetail();
							});
	
							function clearDetail() {
								$('#calendarId').val('');
								$('#calendarTitle').val('');
								$('#calendarTimeStart').val('');
								$('#calendarTimeEnd').val('');
								CKEDITOR.instances.contents1.setData('');
							}
	
							function getDateWithT(dateTime) {
								var date = new Date(dateTime);
	
								var m = date.getMonth() + 1;
								m = addZero(m);
	
								var d = date.getDate();
								d = addZero(d);
	
								var h = date.getHours();
								h = addZero(h);
	
								var mm = date.getMinutes();
								mm = addZero(mm);
	
								var ss = date.getSeconds();
								ss = addZero(ss);
	
								var time = date.getFullYear() + '-' + m + '-' + d + 'T' + h + ':' + mm + ':' + ss;
								return time;
							}
	
							function addZero(i) {
								if (i.toString().length == 1) {
									i = "0" + i;
								}
								return i;
							}
	
							function getHandelNowDate() {
								var myDate = new Date();
								var tYear = myDate.getFullYear();
								var tMonth = myDate.getMonth();
								var tDay = myDate.getDate();
	
								var m = tMonth + 1;
								if (m.toString().length == 1) {
									m = "0" + m;
								}
								if (tDay.toString().length == 1) {
									tDay = "0" + tDay;
								}
								return tYear + '-' + m + '-' + tDay;
							}
						</script>
					</div>

				</div>
			</div>
			<!--footer-->
			<div class="footer">
				<p>OA系统·作者<a target="_blank" href="#">沈俊羽</a></p>
			</div>
			<!--//footer-->
		</div>
		
		<!-- 消息提示框 -->
		<div class="col-md-4 modal-grids">
			<button type="button" id="asdf" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm" style="display: none;">Small
				modal</button>
			<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
							<h4 class="modal-title" id="mySmallModalLabel">温馨提示</h4>
						</div>
						<div class="modal-body" id="tipContent"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- //消息提示框 -->
		
		<!-- Classie -->
		<script src="js/classie.js"></script>
		<!-- 页面跳转的js -->
		<script type="text/javascript">
			/*此js代码仅用于左侧菜单栏页面跳转*/
			
            function toPersonnel() {
				$('#page-wrapper').load('toPersonnel.do',function(){
					removeScrollBar();
				});
			}
			function toEmail() {
				$('#page-wrapper').load('toEmail.do',function(){
					removeScrollBar();
				});
			}
			function toChatService() {
				$('#page-wrapper').load('toChatService.do',function(){
					removeScrollBar();
				});
			}
			function toNotice() {
				$('#page-wrapper').load('toNotice.do',function(){
					removeScrollBar();
				});
			}
			function toProjectCreat() {
				$('#page-wrapper').load('toProjectCreat.do',function(){
					removeScrollBar();
				});
			}
			/* function toProjectAudit() {
				$('#page-wrapper').load('toProjectAudit.do',function(){
					removeScrollBar();
				});
			} */
			function toProjectFind() {
				$('#page-wrapper').load('toProjectFind.do',function(){
					removeScrollBar();
				});
			}
			function toTaskCreat() {
				$('#page-wrapper').load('toTaskCreat.do',function(){
					removeScrollBar();
				});
			}
			function toTaskFind() {
				$('#page-wrapper').load('toTaskFind.do',function(){
					removeScrollBar();
				});
			}
			function toPublicAssets() {
				$('#page-wrapper').load('toPublicAssets.do',function(){
					removeScrollBar();
				});
			}
			function toCalendar() {
				$('#page-wrapper').load('toCalendar.do',function(){
					removeScrollBar();
				});
			}
			
			function toProcessCreat() {
				$('#page-wrapper').load('toCreateProcess.do',function(){
					removeScrollBar();
				});
			}
			
			function toProcessApproved() {
				$('#page-wrapper').load('toProcessApproved.do',function(){
					removeScrollBar();
				});
			}
			
			<!-- 邮件页面内部跳转 -->
			function toWriteEmail(){
				$('#emailLoadArea').load('toWriteEmail.do',{id:''},function(){
					removeScrollBar();
				});
			}
			function toInboxEmail(){
				$('#emailLoadArea').load('toInboxEmail.do',{staffId:''},function(){
					removeScrollBar();
				});
			}
			function toOutboxEmail(){
				$('#emailLoadArea').load('toOutboxEmail.do',{staffId:''},function(){
					removeScrollBar();
				});
			}
			function toDraftEmail(){
				$('#emailLoadArea').load('toDraftEmail.do',{staffId:''},function(){
					removeScrollBar();
				});
			}
			function toTrashEmail(){
				$('#emailLoadArea').load('toTrashEmail.do',{staffId:''},function(){
					removeScrollBar();
				});
			}
			<!--//邮件页面内部跳转 -->
		</script>
		<!-- //页面跳转的js -->
		
		<script>
			var menuLeft = document.getElementById('cbp-spmenu-s1'),
				showLeftPush = document.getElementById('showLeftPush'),
				body = document.body;

			var timeagoInstance = timeago();// 实例
		    timeagoInstance.render(document.querySelectorAll('.time'),'zh_CN');
			
			showLeftPush.onclick = function() {
				classie.toggle(this, 'active');
				classie.toggle(body, 'cbp-spmenu-push-toright');
				classie.toggle(menuLeft, 'cbp-spmenu-open');
				disableOther('showLeftPush');
			};


			function disableOther(button) {
				if (button !== 'showLeftPush') {
					classie.toggle(showLeftPush, 'disabled');
				}
			}
			
			function getNowTime(){
				var date = new Date()
				var time = date.getFullYear()+'-'+date.getUTCMonth()+'-'+date.getDate()+' '+date.getHours()+':'+date.getMinutes()+':'+date.getSeconds()
				return time
			}
			
			function getFormat() {
				var format = "";
				var nTime = new Date();
				format += nTime.getFullYear() + "-";
				format += (nTime.getMonth() + 1) < 10 ? "0" + (nTime.getMonth() + 1) : (nTime.getMonth() + 1);
				format += "-";
				format += nTime.getDate() < 10 ? "0" + (nTime.getDate()) : (nTime.getDate());
				format += "T";
				format += nTime.getHours() < 10 ? "0" + (nTime.getHours()) : (nTime.getHours());
				format += ":";
				format += nTime.getMinutes() < 10 ? "0" + (nTime.getMinutes()) : (nTime.getMinutes());
				format += ":00";
				return format;
			}
			
			function toSignIn(){
				$.post('toSignIn.do',function(date){
					$('#tipContent').html(data.message);
					$("#asdf").trigger('click');
					if(date.sucess==1){
						var str = '<li> <a style="cursor: pointer;" onclick="toSignOut()"><i class="fa fa-pencil"></i> 签退</a> </li>';
						$('#attSheetSignBox').html(str);
					}
				});
			}
			
			function toSignOut(){
				$('#tipContent').html(data.message);
				$("#asdf").trigger('click');
				$.post('toSignOut.do',function(date){
					if(date.sucess==1){
						var str = '<li> <a style="cursor: pointer;"><i class="fa fa-pencil"></i> 已签退</a> </li>';
						$('#attSheetSignBox').html(str);
					}
				});
			}
		</script>
		<!--scrolling js-->
		<script src="js/jquery.nicescroll.js"></script>
		<script src="js/scripts.js"></script>
		<!--//scrolling js-->
		<!-- Bootstrap Core JavaScript -->
		<script src="js/bootstrap.js"> </script>
	</body>
</html>
