<!DOCTYPE HTML>
<html xmlns:th="www.thymeleaf.org">
	<head>
		<title>Tables</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Novus Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>

		<!-- Bootstrap Core CSS -->
		<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- Custom CSS -->
		<link href="css/style.css" rel='stylesheet' type='text/css' />
		<!-- font CSS -->
		<!-- font-awesome icons -->
		<link href="css/font-awesome.css" rel="stylesheet">
		<!-- //font-awesome icons -->
		<!-- js-->
		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<!--webfonts-->
		<link href='http://fonts.useso.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet'
		 type='text/css'>
		<!--//webfonts-->
		<!--animate-->
		<link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
		<script src="js/wow.min.js"></script>
		<script>
			new WOW().init();
	</script>
		<!--//end-animate-->
		<!-- Metis Menu -->
		<script src="js/metisMenu.min.js"></script>
		<script src="js/custom.js"></script>
		<link href="css/custom.css" rel="stylesheet">
		<!--//Metis Menu -->
		<link href="css/personnel.css" rel="stylesheet" type="text/css" />
	</head>
	<body class="cbp-spmenu-push">
		<div class="main-content">
			<!--left-fixed -navigation-->
			<div class=" sidebar" role="navigation">
				<div class="navbar-collapse">
					<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
						<ul class="nav" id="side-menu">
							<li>
								<a href="index.html"><i class="fa fa-home nav_icon"></i>Dashboard</a>
							</li>

						</ul>
						<div class="clearfix"> </div>
						<!-- //sidebar-collapse -->
					</nav>
				</div>
			</div>
			<!--left-fixed -navigation-->
			<!-- header-starts -->
			<div class="sticky-header header-section ">
				<div class="header-left">
					<!--toggle button start-->
					<button id="showLeftPush"><i class="fa fa-bars"></i></button>
					<!--toggle button end-->
					<!--logo -->
					<div class="logo">
						<a href="index.html">
							<h1>NOVUS</h1>
							<span>AdminPanel</span>
						</a>
					</div>
					<!--//logo-->
					<div class="clearfix"> </div>
				</div>
				<div class="header-right">
					<div class="profile_details_left">
						<div class="clearfix"> </div>
					</div>
					<!--notification menu end -->
					<div class="profile_details">
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- //header-ends -->
			<!-- main content start-->
			<div id="page-wrapper">
				<div class="main-page" th:fragment="personnelList">
					<div class="col-md-6 general-grids grids-right widget-shadow">
						<ul id="myTabs" class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home"
								 aria-expanded="false">个人信息</a></li>
							<li role="presentation" class=""><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile"
								 aria-expanded="true">员工信息</a></li>
						</ul>
						<div id="myTabContent" class="tab-content scrollbar1">
							<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
								<div class="staff-left">
									<table>
										<tr>
											<td><img class="staff-img" src="images/staff-img1.jpg" /></td>
										</tr>
										<tr>
											<td>部门：开发部</td>
										</tr>
										<tr>
											<td>直接上级：刘根朔</td>
										</tr>
										<tr>
											<td>下属：5</td>
										</tr>
										<tr>
											<td>状态：正式</td>
										</tr>
										<tr>
											<td>最后登录：2021/1/22 20:23</td>
										</tr>
									</table>
								</div>
								<div class="staff-right">
									<table>
										<tr>
											<td class="left">工号</td>
											<td class="right">17020140242</td>
										</tr>
										<tr>
											<td class="left">姓名</td>
											<td class="right">沈俊羽</td>
										</tr>
										<tr>
											<td class="left">年龄</td>
											<td class="right">24</td>
										</tr>
										<tr>
											<td class="left">身份证号</td>
											<td class="right">3713241999********</td>
										</tr>
										<tr>
											<td class="left">手机号</td>
											<td class="right">175****4608</td>
										</tr>
										<tr>
											<td class="left">邮箱</td>
											<td class="right">175***5809@qq.com</td>
										</tr>
										<tr>
											<td class="left">住址</td>
											<td class="right">山东省临沂市兰陵县</td>
										</tr>
										<tr>
											<td class="left">工资</td>
											<td class="right">7400</td>
										</tr>
									</table>
									<a href="#" class="staff-edit">
										<span class="label label-info">编辑</span>
									</a>
								</div>

							</div>
							<div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
								<div class="tables">
									<div class="bs-example widget-shadow" data-example-id="hoverable-table">
										<!-- 条件查询 -->
										<form id="staffFindForm" action="staffFind.do" method="post">
											<input type="text" style="margin-left: 2%;" placeholder="员工编号" id="findStaffId" name="trueId" />
											<input type="text" style="margin-left: 2%;" placeholder="员工姓名" id="findStaffName" name="trueName" />
											<select class="input-sm" style="font-size: 13px;margin-left: 2%;" name="state" id="findUserState">
												<option value="4">未选择</option>
												<option value="0">实习</option>
												<option value="1">试用</option>
												<option value="2">正式</option>
												<option value="3">离职</option>
											</select>&nbsp;&nbsp;&nbsp;
											<button class="label label-info" style="font-size: large;">查询</button>
										</form>
										<!-- //条件查询 -->
										
										<div id="userShowTable">
											<table class="table table-hover">
												<thead>
													<tr>
														<th>编号</th>
														<th>姓名</th>
														<th>性别</th>
														<th>电话</th>
														<th>邮箱</th>
														<th>注册时间</th>
														<th>状态</th>
														<th>操作</th><!-- 点击查看详情，跳转到product-add.html页面，填充所有的数据 -->
													</tr>
												</thead>
												<tbody>
													<tr>
														<th scope="row" >1</th>
														<td >张三</td>
														<td>
															<span >女</span>
															<span >男</span>
															<span>未知</span>
														</td>
														<td></td>
														<td></td>
														<td>2020-2-22
															22:22</td>
														<td>
															<label class="label label-info">实习</label>
															<label class="label label-primary">试用</label>
															<label class="label label-success">正式</label>
															<label class="label label-danger">离职</label>
														</td>
														<td><button type="button" class="btn btn-primary btn-lg" 
															 data-toggle="modal" data-target="#gridSystemModal" style="padding: 6px;font-size: 11px;">查看详情 </button></td>
													</tr>
												</tbody>
											</table>

											<!-- 分页查询 -->
											<nav style="margin-left: 65%;">
												<ul class="pagination pagination-lg">
													<!-- class='disabled'为选中了第一个或者最后一个的样式 -->
													<li class="disabled"><a href="javascript:void(0)" aria-label="Previous"><span
															 aria-hidden="true">«</span></a></li>
													<li><a href="javascript:void(0)" 
														 aria-label="Previous"><span aria-hidden="true">«</span></a></li>
													<li ><a href="javascript:void(0)">1</a></li>
													<li ><a href="javascript:void(0)">2</a></li>
													<li class="active"><a href="javascript:void(0)">3</a></li><!-- 被选中 -->
													<li ><a href="javascript:void(0)">4</a></li>
													<li ><a href="javascript:void(0)">5</a></li>
													<li  class="disabled"><a href="javascript:void(0)" aria-label="Next"><span
															 aria-hidden="true">»</span></a></li>
													<li ><a href="javascript:void(0)"  
														 aria-label="Next"><span aria-hidden="true">»</span></a></li>
												</ul>
											</nav>
											<!-- //分页查询 -->
										</div>

										<div class="col-md-4 modal-grids">
											<div class="modal fade" id="gridSystemModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
															<h4 class="modal-title" id="gridSystemModalLabel">员工信息</h4>
														</div>
														<div class="grid_3 grid_5 widget-shadow" style="margin-top: 0em;" id="staffDetilsWindow">
															<div class="staffs-left">
																<table>
																	<tr>
																		<td><img class="staffs-img" src="images/staff-img1.jpg" /></td>
																	</tr>
																	<tr>
																		<td>部门：开发部</td>
																	</tr>
																	<tr>
																		<td>直接上级：刘根朔</td>
																	</tr>
																	<tr>
																		<td>下属：5</td>
																	</tr>
																	<tr>
																		<td>状态：正式</td>
																	</tr>
																	<tr>
																		<td>最后登录：2021/1/22 20:23</td>
																	</tr>
																</table>
															</div>
															<div class="staffs-right">
																<table>
																	<tr>
																		<td class="lefts">工号</td>
																		<td class="rights">17020140242</td>
																	</tr>
																	<tr>
																		<td class="lefts">姓名</td>
																		<td class="rights">沈俊羽</td>
																	</tr>
																	<tr>
																		<td class="lefts">年龄</td>
																		<td class="rights">24</td>
																	</tr>
																	<tr>
																		<td class="lefts">身份证号</td>
																		<td class="rights">3713241999********</td>
																	</tr>
																	<tr>
																		<td class="lefts">手机号</td>
																		<td class="rights">175****4608</td>
																	</tr>
																	<tr>
																		<td class="lefts">邮箱</td>
																		<td class="rights">175***5809@qq.com</td>
																	</tr>
																	<tr>
																		<td class="lefts">住址</td>
																		<td class="rights">山东省临沂市兰陵县</td>
																	</tr>
																	<tr>
																		<td class="lefts">工资</td>
																		<td class="rights">7400</td>
																	</tr>
																</table>
															</div>

														</div>
													</div><!-- /.modal-content -->
												</div><!-- /.modal-dialog -->
											</div><!-- /.modal -->
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!--footer-->
			<div class="footer">
				<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
			</div>
			<!--//footer-->
		</div>
		<!-- Classie -->
		<script src="js/classie.js"></script>
		<script>
			var menuLeft = document.getElementById('cbp-spmenu-s1'),
				showLeftPush = document.getElementById('showLeftPush'),
				body = document.body;

			showLeftPush.onclick = function() {
				classie.toggle(this, 'active');
				classie.toggle(body, 'cbp-spmenu-push-toright');
				classie.toggle(menuLeft, 'cbp-spmenu-open');
				disableOther('showLeftPush');
			};

			function disableOther(button) {
				if (button !== 'showLeftPush') {
					classie.toggle(showLeftPush, 'disabled');
				}
			}
		</script>
		<!--scrolling js-->
		<script src="js/jquery.nicescroll.js"></script>
		<script src="js/scripts.js"></script>
		<!--//scrolling js-->
		<!-- Bootstrap Core JavaScript -->
		<script src="js/bootstrap.js"> </script>
	</body>
</html>
