<!DOCTYPE HTML>
<html lang="en" xmlns:th="www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	<body>
		<div class="pro-task" th:fragment="addTask" th:data-task="${taskNum}">
			<span class="task-num" th:text="'任务'+${taskNum}+':'">任务1：</span>
			<table>
				<tr>
					<td>任务名称</td>
					<td class="left"><input th:id="'taskName'+${taskNum}" name="taskName" type="text" value="" required="required"/></td>
				</tr>
				<tr>
					<td>任务描述：</td>
				</tr>
			</table>
			<textarea th:id="'contents'+${taskNum}" name="taskDes" style="height: 350px;" required="required"></textarea>
			<script th:inline="javascript">
				var contentId='contents'+[[${taskNum}]];
				console.log(contentId)
				CKEDITOR.replace(contentId, {
					width: '570px',
					height: '100px',
				});
			</script>
			<table>
				<tr>
					<td>开始时间：</td>
					<td class="left"><input th:id="'taskTimeStartBefore'+${taskNum}" name="taskTimeStartBefore" type="datetime-local" value="" required="required"/></td>
					<td>结束时间：</td>
					<td class="right"><input th:id="'taskTimeEndBefore'+${taskNum}" name="taskTimeEndBefore" type="datetime-local" value="" required="required"/></td>
				</tr>
				<tr>
					<td>任务人员：</td>
				</tr>
				<tr>
					<td>部门：</td>
					<td class="left">
						<select th:id="'depart'+${taskNum}" name="depart" th:onchange="getDepartGroup(this,[[${taskNum}]])">
							<option value="0">--未选择--</option>
							<option th:each="depart:${departCache}" th:value="${depart.departId}" th:text="${depart.departName}">1</option>
						</select>
					</td>
					<td>项目组：</td>
					<td class="right">
						<select th:id="'departGroup'+${taskNum}" name="taskGroupid">
							<option value="0">请选择部门</option>
						</select>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
