<!DOCTYPE HTML>
<html xmlns:th="www.thymeleaf.org">
	<head>
		<title>Tables</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Novus Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>

		<!-- Bootstrap Core CSS -->
		<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- Custom CSS -->
		<link href="css/style.css" rel='stylesheet' type='text/css' />
		<!-- font CSS -->
		<!-- font-awesome icons -->
		<link href="css/font-awesome.css" rel="stylesheet">
		<!-- //font-awesome icons -->
		<!-- js-->
		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<!--webfonts-->
		<link href='http://fonts.useso.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet'
		 type='text/css'>
		<!--//webfonts-->
		<!--animate-->
		<link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
		<script src="js/wow.min.js"></script>
		<script>
			new WOW().init();
	</script>
		<!--//end-animate-->
		<!-- Metis Menu -->
		<script src="js/metisMenu.min.js"></script>
		<script src="js/custom.js"></script>
		<link href="css/custom.css" rel="stylesheet">
		<!--//Metis Menu -->
		<link href="css/personnel.css" rel="stylesheet" type="text/css" />
	</head>
	<body class="cbp-spmenu-push">
		<div class="main-content">
			<!--left-fixed -navigation-->
			<div class=" sidebar" role="navigation">
				<div class="navbar-collapse">
					<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
						<ul class="nav" id="side-menu">
							<li>
								<a href="index.html"><i class="fa fa-home nav_icon"></i>Dashboard</a>
							</li>

						</ul>
						<div class="clearfix"> </div>
						<!-- //sidebar-collapse -->
					</nav>
				</div>
			</div>
			<!--left-fixed -navigation-->
			<!-- header-starts -->
			<div class="sticky-header header-section ">
				<div class="header-left">
					<!--toggle button start-->
					<button id="showLeftPush"><i class="fa fa-bars"></i></button>
					<!--toggle button end-->
					<!--logo -->
					<div class="logo">
						<a href="index.html">
							<h1>NOVUS</h1>
							<span>AdminPanel</span>
						</a>
					</div>
					<!--//logo-->
					<div class="clearfix"> </div>
				</div>
				<div class="header-right">
					<div class="profile_details_left">
						<div class="clearfix"> </div>
					</div>
					<!--notification menu end -->
					<div class="profile_details">
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- //header-ends -->
			<!-- main content start-->
			<div id="page-wrapper">
				<div class="main-page" th:fragment="processApproved">
					<div class="col-md-6 general-grids grids-right widget-shadow">
						<ul id="myTabs" class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home"
								 aria-expanded="false">流程审批</a></li>
						</ul>
						<div id="myTabContent" class="tab-content scrollbar1">
							<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
								<div class="tables">
									<div class="bs-example widget-shadow" data-example-id="hoverable-table">
										<!-- 条件查询 -->
										<input type="text" style="margin-left: 2%;" placeholder="流程申请人" id="processApplicant" name="processApplicant" />
										<input type="text" style="margin-left: 2%;" placeholder="任务转交人" id="processTaskToStaff" name="processTaskToStaff" />
										<input type="text" style="margin-left: 2%;" placeholder="任务监督人" id="processTaskSupervise" name="processTaskSupervise" />
										<span style="margin-left: 2%;">流程类型：</span>
										<select class="input-sm" style="font-size: 13px;" name="processType" id="findProcessType">
											<option value="0">--未选择--</option>
											<option th:each="processType:${processTypeList}" th:value="${processType.id}" th:text="${processType.typeName}">实习</option>
										</select>&nbsp;&nbsp;&nbsp;
										<button class="label label-info" id="selectProcessByConditionBtn" style="font-size: large;">查询</button>
										<script type="text/javascript">
											$('#selectProcessByConditionBtn').click(function(){
												var processApplicant=$('input[name=processApplicant]').val();
												var processTaskToStaff=$('input[name=processTaskToStaff]').val();
												var processTaskSupervise=$('input[name=processTaskSupervise]').val();
												var approvedStaff=$('input[name=approvedStaff]').val();
												var processType=$('select[name=processType]').val();
												
												$('#processDetailsShowListBox').load('selectProcessByCondition.do',{
													processApplicant:processApplicant,
													processTaskToStaff:processTaskToStaff,
													processTaskSupervise:processTaskSupervise,
													approvedStaff:approvedStaff,
													processType:processType,
												},function(){
													
												});
											});
										</script>
										
										<!-- //条件查询 -->
										<div id="processDetailsShowListBox">
											<div th:fragment="processDetailsShowList">
												<table class="table table-hover">
													<thead>
														<tr>
															<th>序号</th>
															<th>流程类型</th>
															<th>申请人</th>
															<th>申请时间</th>
															<th>申请理由</th>
															<th>流程状态</th>
															<th>操作</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="processDetail,processDetailStat:${processDetailsList}">
															<th scope="row" th:text="${processDetailStat.count}">1</th>
															<td th:text="${processDetail.process.processTypePoJo.typeName}">请假</td>
															<td th:text="${processDetail.process.applicantStaff.staffName}">张三</td>
															<td th:text="${#dates.format(processDetail.process.processApplicantTime,'yyyy-MM-dd HH:mm')}"></td>
															<td th:text="${processDetail.process.processReason}"></td>
															<td>
																<label class="label label-info" th:if=${processDetail.process.processFinish==0}>审批中</label>
																<label class="label label-success" th:if=${processDetail.process.processFinish==1}>已结束</label>
															</td>
															<td><button type="button" class="btn btn-primary btn-lg" th:onclick="'showProcessDetails('+${processDetail.id}+')'"
																 data-toggle="modal" data-target="#gridSystemModal" style="padding: 6px;font-size: 11px;">查看详情 </button></td>
														</tr>
													</tbody>
												</table>
									
												<!-- 分页查询 -->
												<nav style="margin-left: 65%;">
													<ul class="pagination pagination-lg">
														<!-- class='disabled'为选中了第一个或者最后一个的样式 -->
														<li th:if="${processDetailsList.pageNum eq 1}" class="disabled"><a href="javascript:void(0)" aria-label="Previous"><span
																 aria-hidden="true">«</span></a></li>
														<li th:if="${processDetailsList.pageNum gt 1}"><a href="javascript:void(0)" th:onclick="'toProcessDetailsPage('+${processDetailsList.pageNum-1}+')'"
															 aria-label="Previous"><span aria-hidden="true">«</span></a></li>
														<li th:if="${processDetailsList.pageNum-2 gt 0 }"><a href="javascript:void(0)" th:onclick="'toProcessDetailsPage('+${processDetailsList.pageNum-2}+')'"
															 th:text="${processDetailsList.pageNum-2}">1</a></li>
														<li th:if="${processDetailsList.pageNum-1 gt 0 }"><a href="javascript:void(0)" th:onclick="'toProcessDetailsPage('+${processDetailsList.pageNum-1}+')'"
															 th:text="${processDetailsList.pageNum-1}">2</a></li>
														<li class="active"><a href="javascript:void(0)" th:text="${processDetailsList.pageNum}">3</a></li><!-- 被选中 -->
														<li th:if="${processDetailsList.pageNum+1 le processDetailsList.pages}"><a href="javascript:void(0)" th:onclick="'toProcessDetailsPage('+${processDetailsList.pageNum+1}+')'"
															 th:text="${processDetailsList.pageNum+1}">4</a></li>
														<li th:if="${processDetailsList.pageNum+2 le processDetailsList.pages}"><a href="javascript:void(0)" th:onclick="'toProcessDetailsPage('+${processDetailsList.pageNum+2}+')'"
															 th:text="${processDetailsList.pageNum+2}">5</a></li>
														<li th:if="${processDetailsList.pageNum eq processDetailsList.pages}" class="disabled"><a href="javascript:void(0)" aria-label="Next"><span
																 aria-hidden="true">»</span></a></li>
														<li th:if="${processDetailsList.pageNum lt processDetailsList.pages}"><a href="javascript:void(0)" th:onclick="'toProcessDetailsPage('+${processDetailsList.pageNum+1}+')'"
															 aria-label="Next"><span aria-hidden="true">»</span></a></li>
													</ul>
												</nav>
												<!-- //分页查询 -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 弹窗 -->
						<div class="col-md-4 modal-grids">
							<div class="modal fade" id="gridSystemModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content" style="width: 685px;">
										<div class="modal-header">
											<button type="button" id="processApprovedCloseBtn" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="gridSystemModalLabel">资产信息</h4>
										</div>
										<div id="processMsgDetailBox" class="grid_3 grid_5 widget-shadow" style="margin-top: 0em;height: 562px;">
											<!-- 弹窗内容 -->
										</div>
									</div><!-- /.modal-content -->
								</div><!-- /.modal-dialog -->
							</div><!-- /.modal -->
						</div>
						<!-- //弹窗 -->
						<script type="text/javascript">
							function showProcessDetails(id){
								$('#processMsgDetailBox').load('showProcessDetails.do',{id:id},function(){});
							}
							function toProcessDetailsPage(page){
								var processApplicant=$('input[name=processApplicant]').val();
								var processTaskToStaff=$('input[name=processTaskToStaff]').val();
								var processTaskSupervise=$('input[name=processTaskSupervise]').val();
								var approvedStaff=$('input[name=approvedStaff]').val();
								var processType=$('select[name=processType]').val();
								
								$('#processDetailsShowListBox').load('toProcessDetailsPage.do',{
									processApplicant:processApplicant,
									processTaskToStaff:processTaskToStaff,
									processTaskSupervise:processTaskSupervise,
									approvedStaff:approvedStaff,
									processType:processType,
									pageNum,page
								},function(){
									
								});
							}
						</script>
					</div>
				</div>
			</div>
			
			<!--footer-->
			<div class="footer">
				<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
			</div>
			<!--//footer-->
		</div>
		<!-- Classie -->
		<!-- 消息提示框 -->
		<div class="col-md-4 modal-grids">
			<button type="button" id="asdf" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm" style="display: none;">Small
				modal</button>
			<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
							<h4 class="modal-title" id="mySmallModalLabel">温馨提示</h4>
						</div>
						<div class="modal-body" id="tipContent"> Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //消息提示框 -->
		<script src="js/classie.js"></script>
		<script>
			var menuLeft = document.getElementById('cbp-spmenu-s1'),
				showLeftPush = document.getElementById('showLeftPush'),
				body = document.body;

			showLeftPush.onclick = function() {
				classie.toggle(this, 'active');
				classie.toggle(body, 'cbp-spmenu-push-toright');
				classie.toggle(menuLeft, 'cbp-spmenu-open');
				disableOther('showLeftPush');
			};

			function disableOther(button) {
				if (button !== 'showLeftPush') {
					classie.toggle(showLeftPush, 'disabled');
				}
			}
		</script>
		<!--scrolling js-->
		<script src="js/jquery.nicescroll.js"></script>
		<script src="js/scripts.js"></script>
		<!--//scrolling js-->
		<!-- Bootstrap Core JavaScript -->
		<script src="js/bootstrap.js"> </script>
	</body>
</html>
