<!DOCTYPE HTML>
<html xmlns:th="www.thymeleaf.org">
	<head>
		<title>Tables</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Novus Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>

		<!-- Bootstrap Core CSS -->
		<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- Custom CSS -->
		<link href="css/style.css" rel='stylesheet' type='text/css' />
		<!-- font CSS -->
		<!-- font-awesome icons -->
		<link href="css/font-awesome.css" rel="stylesheet">
		<!-- //font-awesome icons -->
		<!-- js-->
		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<!--webfonts-->
		<link href='http://fonts.useso.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet'
		 type='text/css'>
		<!--//webfonts-->
		<!--animate-->
		<link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
		<script src="js/wow.min.js"></script>
		<script>
			new WOW().init();
	</script>
		<!--//end-animate-->
		<!-- Metis Menu -->
		<script src="js/metisMenu.min.js"></script>
		<script src="js/custom.js"></script>
		<link href="css/custom.css" rel="stylesheet">
		<!--//Metis Menu -->
		<link href="css/personnel.css" rel="stylesheet" type="text/css" />
	</head>
	<body class="cbp-spmenu-push">
		<div class="main-content">
			<!--left-fixed -navigation-->
			<div class=" sidebar" role="navigation">
				<div class="navbar-collapse">
					<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
						<ul class="nav" id="side-menu">
							<li>
								<a href="index.html"><i class="fa fa-home nav_icon"></i>Dashboard</a>
							</li>

						</ul>
						<div class="clearfix"> </div>
						<!-- //sidebar-collapse -->
					</nav>
				</div>
			</div>
			<!--left-fixed -navigation-->
			<!-- header-starts -->
			<div class="sticky-header header-section ">
				<div class="header-left">
					<!--toggle button start-->
					<button id="showLeftPush"><i class="fa fa-bars"></i></button>
					<!--toggle button end-->
					<!--logo -->
					<div class="logo">
						<a href="index.html">
							<h1>NOVUS</h1>
							<span>AdminPanel</span>
						</a>
					</div>
					<!--//logo-->
					<div class="clearfix"> </div>
				</div>
				<div class="header-right">
					<div class="profile_details_left">
						<div class="clearfix"> </div>
					</div>
					<!--notification menu end -->
					<div class="profile_details">
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- //header-ends -->
			<!-- main content start-->
			<div id="page-wrapper">
				<div class="main-page" th:fragment="publicAssets">
					<div class="col-md-6 general-grids grids-right widget-shadow">
						<ul id="myTabs" class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home"
								 aria-expanded="false">个人资产信息</a></li>
							<li th:if="${loginStaff.staffPower!='P4' && loginStaff.staffPower!='P5'}" role="presentation" class=""><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile"
								 aria-expanded="true">部门资产信息信息</a></li>
						</ul>
						<div id="myTabContent" class="tab-content scrollbar1">
							<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
								<div class="tables">
									<div class="bs-example widget-shadow" data-example-id="hoverable-table">
										<!-- 条件查询 -->
										<input type="text" style="margin-left: 2%;" placeholder="名称" class="pubassName" name="pubassName" />
										<span style="margin-left: 2%;">类型：</span>
										<select class="input-sm pubassType" style="font-size: 13px;" name="pubassType">
											<option value="0">--未选择--</option>
											<option th:if="${assetsTypeCache!=null && assetsTypeCache.size>0}" th:each="assetsType:${assetsTypeCache}" th:value="${assetsType.id}" th:text="${assetsType.typeName}">实习</option>
										</select>&nbsp;&nbsp;&nbsp;
										<button class="label label-info" onclick="findPubAssUseByCondition()" style="font-size: large;">查询</button>
										<script type="text/javascript">
											function findPubAssUseByCondition(){
												var pubassName=$('.pubassName').val();
												var pubassType=$('.pubassType').val();
												
												$('#pubassUseShowListBox').load('pubassUseShow.do',{
													pubassName:pubassName,
													pubassType:pubassType
												},function(){
													
												});
											}
										</script>
										<!-- //条件查询 -->
										<div id="pubassUseShowListBox">
											<table class="table table-hover" th:fragment="pubassUseShowList">
												<thead>
													<tr>
														<th>编号</th>
														<th>名称</th>
														<th>类型</th>
														<th>价格</th>
														<th>所属部门</th>
														<th>租借时间</th>
														<th>归还时间</th>
														<th>租借数量</th>
														<th>操作</th>
													</tr>
												</thead>
												<tbody>
													<tr th:if="${assetsUseList!=null && assetsUseList.size()>0}" th:each="assUse,assUseStat:${assetsUseList}">
														<th scope="row" th:text=${assUseStat.count}>1</th>
														<td th:text="${assUse.pubAss.pubassName}">张三</td>
														<td th:text="${assUse.pubAss.assetsType.typeName}"></td>
														<td th:text="${assUse.pubAss.pubassPrice}"></td>
														<td th:text="${assUse.pubAss.depart.departName}"></td>
														<td th:text="${#dates.format(assUse.useTime,'yyyy-MM-dd HH:mm')}"></td>
														<td th:text="${#dates.format(assUse.useTerm,'yyyy-MM-dd HH:mm')}"></td>
														<td th:text="${assUse.useCount}"></td>
														<td><button type="button" class="btn btn-primary btn-lg" th:onclick="showPubAssUseDetails([[${assUse.id}]])"
															 data-toggle="modal" data-target="#gridSystemModal" style="padding: 6px;font-size: 11px;">查看详情 </button></td>
													</tr>
												</tbody>
											</table>
								
											<!-- 分页查询 -->
											<nav style="margin-left: 65%;">
												<ul class="pagination pagination-lg">
													<!-- class='disabled'为选中了第一个或者最后一个的样式 -->
													<li th:if="${assetsUseList.pageNum eq 1}" class="disabled"><a style="cursor: pointer;" aria-label="Previous"><span
															 aria-hidden="true">«</span></a></li>
													<li th:if="${assetsUseList.pageNum gt 1}"><a style="cursor: pointer;" th:onclick="toPubAssUsePage([[${assetsUseList.pageNum-1}]])"
														 aria-label="Previous"><span aria-hidden="true">«</span></a></li>
													<li th:if="${assetsUseList.pageNum-2 gt 0 }"><a style="cursor: pointer;" th:onclick="toPubAssUsePage([[${assetsUseList.pageNum-2}]])"
														 th:text="${assetsUseList.pageNum-2}">1</a></li>
													<li th:if="${assetsUseList.pageNum-1 gt 0 }"><a style="cursor: pointer;" th:onclick="'toPubAssUsePage('+${assetsUseList.pageNum-1}+')'"
														 th:text="${assetsUseList.pageNum-1}">2</a></li>
													<li class="active"><a style="cursor: pointer;" th:text="${assetsUseList.pageNum}">3</a></li><!-- 被选中 -->
													<li th:if="${assetsUseList.pageNum+1 le assetsUseList.pages}"><a style="cursor: pointer;" th:onclick="toPubAssUsePage([[${assetsUseList.pageNum+1}]])"
														 th:text="${assetsUseList.pageNum+1}">4</a></li>
													<li th:if="${assetsUseList.pageNum+2 le assetsUseList.pages}"><a style="cursor: pointer;" th:onclick="'toPubAssUsePage('+${assetsUseList.pageNum+2}+')'"
														 th:text="${assetsUseList.pageNum+2}">5</a></li>
													<li th:if="${assetsUseList.pageNum eq assetsUseList.pages}" class="disabled"><a style="cursor: pointer;"
														 aria-label="Next"><span aria-hidden="true">»</span></a></li>
													<li th:if="${assetsUseList.pageNum eq 1 && assetsUseList.pages eq 0}" class="disabled"><a style="cursor: pointer;"
														 aria-label="Next"><span aria-hidden="true">»</span></a></li>
													<li th:if="${assetsUseList.pageNum lt assetsUseList.pages}"><a style="cursor: pointer;" th:onclick="'toPubAssUsePage('+${assetsUseList.pageNum+1}+')'"
														 aria-label="Next"><span aria-hidden="true">»</span></a></li>
												</ul>
											</nav>
											<!-- //分页查询 -->
										</div>
									</div>
								</div>
							</div>
							<div th:if="${loginStaff.staffPower!='P4' && loginStaff.staffPower!='P5'}" role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
								<div class="tables">
									<div class="bs-example widget-shadow" data-example-id="hoverable-table">
										<!-- 条件查询 -->
										<input type="text" style="margin-left: 2%;" placeholder="名称" id="findPubAssName" name="trueName" />
										<span style="margin-left: 2%;">类型：</span>
										<select class="input-sm" style="font-size: 13px;" name="state" id="findPubAssType">
											<option value="0">--未选择--</option>
											<option th:if="${assetsTypeCache!=null && assetsTypeCache.size>0}" th:each="assetsType:${assetsTypeCache}" th:value="${assetsType.id}" th:text="${assetsType.typeName}">实习</option>
										</select>&nbsp;&nbsp;&nbsp;
										<button class="label label-info" onclick="findPubAssByCondition()" style="font-size: large;">查询</button>
										<script type="text/javascript">
											function findPubAssByCondition(){
												var pubassName=$('#findPubAssName').val();
												var pubassType=$('#findPubAssType').val();
												
												$('#pubassShowListBox').load('pubassShow.do',{
													pubassName:pubassName,
													pubassType:pubassType
												},function(){
													
												});
											}
										</script>
										<!-- //条件查询 -->
										<div id="pubassShowListBox" >
											<table class="table table-hover" th:fragment="pubassShowList">
												<thead>
													<tr>
														<th>序号</th>
														<th>名称</th>
														<th>类型</th>
														<th>价格</th>
														<th>数量</th>
														<th>所属部门</th>
														<th>入库时间</th>
													</tr>
												</thead>
												<tbody>
													<tr th:if="${assetsList!=null && assetsList.size()>0}" th:each="ass,assStat:${assetsList}">
														<th scope="row" th:text=${assStat.count}>1</th>
														<td th:text="${ass.pubassName}">张三</td>
														<td th:text="${ass.assetsType.typeName}"></td>
														<td th:text="${ass.pubassPrice}"></td>
														<td th:text="${ass.depart.departName}"></td>
														<td th:text="${ass.pubassCount}"></td>
														<td th:text="${#dates.format(ass.pubassTime,'yyyy-MM-dd HH:mm')}"></td>
														<td><button type="button" class="btn btn-primary btn-lg" th:onclick="showAssDetails([[${ass.pubassId}]])"
															 data-toggle="modal" data-target="#gridSystemModal" style="padding: 6px;font-size: 11px;">查看详情 </button></td>
													</tr>
												</tbody>
											</table>

											<!-- 分页查询 -->
											<nav style="margin-left: 65%;">
												<ul class="pagination pagination-lg">
													<!-- class='disabled'为选中了第一个或者最后一个的样式 -->
													<li th:if="${assetsList.pageNum eq 1}" class="disabled"><a style="cursor: pointer;" aria-label="Previous"><span
															 aria-hidden="true">«</span></a></li>
													<li th:if="${assetsList.pageNum gt 1}"><a style="cursor: pointer;" th:onclick="toPubAssPage([[${assetsList.pageNum-1}]])"
														 aria-label="Previous"><span aria-hidden="true">«</span></a></li>
													<li th:if="${assetsList.pageNum-2 gt 0 }"><a style="cursor: pointer;" th:onclick="toPubAssPage([[${assetsList.pageNum-2}]])"
														 th:text="${assetsList.pageNum-2}">1</a></li>
													<li th:if="${assetsList.pageNum-1 gt 0 }"><a style="cursor: pointer;" th:onclick="'toPubAssPage('+${assetsList.pageNum-1}+')'"
														 th:text="${assetsList.pageNum-1}">2</a></li>
													<li class="active"><a style="cursor: pointer;" th:text="${assetsList.pageNum}">3</a></li><!-- 被选中 -->
													<li th:if="${assetsList.pageNum+1 le assetsList.pages}"><a style="cursor: pointer;" th:onclick="toPubAssPage([[${assetsList.pageNum+1}]])"
														 th:text="${assetsList.pageNum+1}">4</a></li>
													<li th:if="${assetsList.pageNum+2 le assetsList.pages}"><a style="cursor: pointer;" th:onclick="toPubAssPage([[${assetsList.pageNum+2}]])"
														 th:text="${assetsList.pageNum+2}">5</a></li>
													<li th:if="${assetsList.pageNum eq assetsList.pages}" class="disabled"><a style="cursor: pointer;"
														 aria-label="Next"><span aria-hidden="true">»</span></a></li>
													<li th:if="${assetsList.pageNum lt assetsList.pages}"><a style="cursor: pointer;" th:onclick="toPubAssPage([[${assetsList.pageNum+1}]])"
														 aria-label="Next"><span aria-hidden="true">»</span></a></li>
												</ul>
											</nav>
											<!-- //分页查询 -->
										</div>
										<script type="text/javascript">
											function showAssDetails(id){
												$('#pubAssMsgDetailBox').load('showPubAssDetails.do',{pubassId:id},function(){});
											}
											
											function toPubAssPage(page){
												var pubassName=$('#findPubAssName').val();
												var pubassType=$('#findPubAssType').val();
												
												$('#pubassShowListBox').load('toPubAssShowPage.do',{
													pubassName:pubassName,
													pubassType:pubassType,
													page:page
												},function(){
													
												});
											}
										</script>
									</div>
								</div>

							</div>
						</div>
					</div>
					<!-- 弹窗 -->
					<div class="col-md-4 modal-grids">
						<div class="modal fade" id="gridSystemModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="gridSystemModalLabel">资产信息</h4>
									</div>
									<div id="pubAssMsgDetailBox" class="grid_3 grid_5 widget-shadow" style="margin-top: 0em;height: 398px;">
										<!-- 弹窗内容 -->
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
					</div>
					<!-- //弹窗 -->
					<script type="text/javascript">
						function showPubAssUseDetails(id){
							$('#pubAssMsgDetailBox').load('showPubAssUseDetails.do',{id:id},function(){});
						}
						function toPubAssUsePage(page){
							var pubassName=$('.pubassName').val();
							var pubassType=$('.pubassType').val();
							
							$('#pubassUseShowListBox').load('toPubAssUsePage.do',{
								pubassName:pubassName,
								pubassType:pubassType,
								page:page
							},function(){
								
							});
						}
					</script>
				</div>
			</div>
			<!--footer-->
			<div class="footer">
				<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
			</div>
			<!--//footer-->
		</div>
		<!-- Classie -->
		<script src="js/classie.js"></script>
		<script>
			var menuLeft = document.getElementById('cbp-spmenu-s1'),
				showLeftPush = document.getElementById('showLeftPush'),
				body = document.body;

			showLeftPush.onclick = function() {
				classie.toggle(this, 'active');
				classie.toggle(body, 'cbp-spmenu-push-toright');
				classie.toggle(menuLeft, 'cbp-spmenu-open');
				disableOther('showLeftPush');
			};

			function disableOther(button) {
				if (button !== 'showLeftPush') {
					classie.toggle(showLeftPush, 'disabled');
				}
			}
		</script>
		<!--scrolling js-->
		<script src="js/jquery.nicescroll.js"></script>
		<script src="js/scripts.js"></script>
		<!--//scrolling js-->
		<!-- Bootstrap Core JavaScript -->
		<script src="js/bootstrap.js"> </script>
	</body>
</html>
